.pointer-events-none {
  pointer-events: none;
}

.momentum-scroll {
  -webkit-overflow-scrolling: touch;
}

.horizontal-overflow-scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.horizontal-overflow-scroll::-webkit-scrollbar {
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.tracked-light {
  letter-spacing: 0.05em;
}

[data-lazyload],
.invisible {
  pointer-events: none;
  visibility: hidden;
  transition: opacity 400ms ease 150ms;
  opacity: 0;
}

[data-loaded="true"],
.visible {
  pointer-events: auto;
  visibility: visible;
  transition: opacity 400ms ease 150ms;
  opacity: 1;
}

.hover-b--dark-green:hover,
.hover-b--dark-green:focus {
  border-color: #137752;
}

.dim-sibling .sibling {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.dim-sibling:hover .sibling,
.dim-sibling:focus .sibling,
.dim-sibling:active .sibling {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.grid {
  display: grid;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.grid-span-2-columns {
  grid-column: span 2;
}

.grid-span-2-rows {
  grid-row: span 2;
}

@media screen and (min-width: 30em) {
  .grid-ns {
    display: grid;
  }

  .grid-2-columns-ns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  // .className-m
}

@media screen and (min-width: 60em) {
  // .className-l

  .grid-3-columns-l {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 100em) {
  // .className-xl

  .bottom-3-xl {
    bottom: 4rem;
  }

  .f1-xl {
    font-size: 3rem;
  }
  .f2-xl {
    font-size: 2.25rem;
  }
  .f3-xl {
    font-size: 1.5rem;
  }
  .mb0-xl {
    margin-bottom: 0;
  }
  .pa5-xl {
    padding: 4rem;
  }
  .pa6-xl {
    padding: 8rem;
  }
  .w-25-xl {
    width: 25%;
  }
  .w-50-xl {
    width: 50%;
  }
  .w-75-xl {
    width: 75%;
  }
}

@media screen and (min-width: 120em) {
  // .className-xxl

  .f1-xxl {
    font-size: 3rem;
  }
  .f2-xxl {
    font-size: 2.25rem;
  }
  .f3-xxl {
    font-size: 1.5rem;
  }
  .w-25-xxl {
    width: 25%;
  }
  .w-50-xxl {
    width: 50%;
  }
  .w-75-xxl {
    width: 75%;
  }
}
